<apex:page standardController="Account" extensions="HL_InvestmentsListController" tabStyle="Account">
    <c:HL_InvestmentInvestorList DisplayType="Investments"></c:HL_InvestmentInvestorList>
</apex:page>