<apex:page standardController="Contact">
  <h1>Please Wait</h1>
    Redirecting ....
  <script>
    if ( (typeof window.sforce != 'undefined') && (window.sforce!=null) ) {
      sforce.one.navigateToURL('/apex/HL_Mobile_AddRelationship?id={!Contact.id}');
    }
    else {
      alert('Not in SF1 :(');
    }
 </script>
</apex:page>