<apex:page standardController="Account" docType="html-5.0" sidebar="false" showHeader="false">
    <c:importvisualstrap />
    <div class="mobile-card">
    <div class="container">
    <div class="row">
        <div>
            <button id="btnActivities" class="button-relatedlist"><table>
                <tr><td><img class="icon uiImage relatedList" title="" alt="" height="38px" style="background-color:#5E82A3; border-radius: 3px;" src="{!URLFOR($Resource.HL_Images,'icon-event.png')}"/></td><td class="header-label">Activities</td></tr>
                </table>
            </button>  
        </div>
        </div>
    </div>
    </div>
    <hr />
    <div id="activityListForm">
        <ul id="activitiesList" class="card-list"></ul>
    </div>
  	<div id="activityDetailForm" style="display:none;">
        <div class="slds">
            <button style="width:100%; height:35px;" class="slds-button--neutral" type="button" onclick="backToList()">Back to List</button>
        </div>
        <ul id="activityDetail" class="card-list"></ul>
    </div>
    <span id="noResults" style="display: none;"><h4>No Activities to Display</h4></span>
    <apex:stylesheet value="{!URLFOR($Resource.HL_MobileCSS)}"></apex:stylesheet>
    <apex:stylesheet value="{!URLFOR($Resource.SLDS0120,'assets/styles/salesforce-lightning-design-system-ltng.min.css')}" />
    <apex:includescript value="{!URLFOR($Resource.RestAPIToolkit, 'forcetk.js')}"></apex:includescript>
    <apex:includescript value="{!URLFOR($Resource.HL_ActivityScripts, 'HL_Mobile_ActivityCard.js')}"></apex:includescript>
    <script>
    	//Initialize the Common Variables
    	var $ = jQuery.noConflict();
    	var client = new forcetk.Client();
    	var accountId = '{!CASESAFEID(Id)}'; 
    	var userId = '{!$User.Id}';
    	var ul = document.getElementById("activitiesList");
        var ulDetail = document.getElementById("activityDetail");
        client.setSessionToken('{!$Api.Session_ID}');
		
    	(function(){
            loadCompanyActivities();
        }())
    </script>
</apex:page>