<apex:page applyBodyTag="false" showHeader="false" standardStylesheets="false" standardController="Opportunity__c">
  <c:SL_MeetingNoteMobile activityType="Task" origin="publisher" objectId="{!Opportunity__c.Id}" objectType="Opportunity__c"/>
</apex:page>